.contact-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1230px;
}
.contact-form__heading {
    margin-bottom: 30px;
    text-align: center;
}
.contact-form__title {
    font-family: "Gelasio", serif;
    font-weight: 400;
    font-style: normal;
}
.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    /* background-color: aliceblue; */
}
.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form__label--required {
    color: #ff9b9b;
}
.form__error {
    height: 20px;
    color: #ff9b9b;
    text-align: left;
    font-size: 12px;
}
.form__error-layout--name {
    display: flex;
    gap: 170px;
}
.form__error-layout--tel {
    display: flex;
    gap: 35px;
}
.form__group-content {
    width: 65%;
    /* border: 1px solid red; */
}

.form__input--text input {
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    border: none;
}
.form__input--textarea textarea {
    width: 100%;
    height: 70px;
    background-color: #f3f3f3;
    border: none;
    color: #8b7969;
    resize: none;
}
.form__input--text input::placeholder,
.form__input--name input::placeholder {
    padding-left: 20px;
    color: #8b7969;
    font-family: "Gelasio", serif;
    font-weight: 400;
    font-style: normal;
}

.form__input--tel input::placeholder {
    text-align: center;
    color: #8b7969;
    font-family: "Gelasio", serif;
    font-weight: 400;
    font-style: normal;
}

textarea::placeholder {
    padding-left: 20px;
    
}

.form__input--radio {
    text-align: left;
    margin-left: 20px;
}
.form__input--radio input {
    transform: scale(1.8);
    width: 40px;
}
.form__group-layout--name {
    display: flex;
    justify-content: space-between;
}
.form__input--name input {
    width: 250px;
    height: 30px;
    background-color: #f3f3f3;
    border: none;
}
.form__group-layout--tel {
    display: flex;
    justify-content: space-between;
}
.form__group-layout--tel input {
    height: 30px;
    background-color: #f3f3f3;
    border: none;
}



.form__input--select {
    text-align: left;
    
    
}
.form__input--select select {
    width: 60%;
    height: 30px;
    padding-left: 20px;
    background-color: #f3f3f3;
    border: none;
    color: #c5b9b0;
    
}
.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 1px;
    background-color: #82756a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
